NAME   = ubuntu

CPU    = 1
VCPU   = 1
MEMORY = 512

OS = [ arch = "x86_64" ]

DISK   = [ 
    IMAGE = "ubuntu-server-12.04"
]

NIC = [ NETWORK = "net_172" ]

GRAPHICS = [
    TYPE    = "vnc",
    LISTEN  = "0.0.0.0"
]
